/* Colors
#0B0C10
#1F2833
#C5C6C7
#66FCF1
#45A29E
*/

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row; /* Default is row for desktop */
}

/* Left navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171E28;
}

.navbar-logo {
  font-family: "Source Code Pro", monospace;
  opacity: 0.4;
  text-align: center;
  user-select: none;
  margin-top: 2vh;
}

.navbar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar-route {
  font-size: clamp(.1rem, .75vw, 5rem);
  padding: 1em;
  color: white;
  text-decoration: none;
}

.navbar-route:hover {
  background-color: #282C34;
}

/* Main content section */
.content-container {
  display: flex;
  flex-direction: column; /* Makes elements inside stack vertically */
  min-height: 100vh; /* Ensures container takes the full height of viewport */
  width: 100%; /* Ensure full width */
  margin-left: 10vw;
}

.page-container {
  flex: 1; /* Makes the page content take up available space */
  padding: 2em;
  overflow-y: auto; /* Scrolls if content is too large */
}

/* Footer section */
.footer {
  padding: 1em;
  background-color: #1F2833;
  color: white;
  text-align: center;
  margin-top: auto; /* Ensures the footer sticks to the bottom */
}

.footer-icon-container {
  justify-content: center;
}
.code-container {
  font-family: "Source Code Pro", monospace;
  opacity: 0.4;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 2vh;
}

.code-line1 {
  margin-left: 5vw;
  margin-top: 2vw;
  max-width: 20vw;
}

.code-line2 {
  margin-left: 12.5vw;
  margin-top: 0.25vw;
  max-width: 25vw;
}

.page-content {
  margin-left: 15vw;
}
.page-container {
  flex: 1;
  margin-right: 2vw;
}
.secondary-code {
  color: #45A29E;
}
.blinking-cursor::after {
  content: '|';
  animation: blink 1s step-start infinite;
  color: #C5C6C7; /* Matches the color of the code */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .navbar {
    position: fixed;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar-content {
    height: auto;
    flex-direction: row;
    padding: 1em;
  }

  .page-container {
    margin-left: 0;
    width: 100%;
  }

  .content-container {
    margin-top: 60px; /* Adjust this value to the height of the navbar */
  }
}
