
#container {
  height: 100vh;
  width: 100vh;
}

#tournament {
  margin: 0;
  padding: 0;
  font-size: 2vh;
  height: inherit;
  width: inherit;
}

.ul-left {
  list-style-type: none;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
.App {
  text-align: center;
  font-family: 'Roboto', serif;
}
.form {
  margin: 10vh;
}
.form-element {
  margin: 2vh;
}

.direction {
  position: absolute;
  bottom: 10vh;
  left: 1vh;
  font-size: 13px;
}

#header-logo {
  height: 8vmin;
  padding: 10px;
  float : left;
}

#footer-socials {
  align : center;
  height: 2vmin;
  /*padding: 4vmin;*/
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
  }
}

#nav {
  text-decoration-color: #61dafb;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  color: #ECE3CE;
  
  
}

#header {
  background-color: #739072;
  text-decoration-color: #61dafb;
  height: 10vh;
  margin: 0;
  color:#ECE3CE;
}

#content {
  background-color: #ECE3CE;
  text-decoration-color: #4F6F52;
  list-style-type: none;
  margin: 0;

  height: 80vh;
  color: #4F6F52;
  
  
}

#news {
  margin-top: 15vh;
}


.text-link {
  color: inherit;
  text-decoration: none;
}

#logo-text {
  float: left;
  padding-left: 5vh;
  font-size: 3vh;
}

ul#nav li {
  float: right;
  padding-right: 3vh;
  padding-top: 4vh;
  font-size: 2vh;
}
.App-content {
  background-color: #00ADB5;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #4F6F52;
}

.App-footer {
  background-color: #3A4D39;
  height: 10vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;
  justify-content: center;
  */
  font-size: calc(10px + vmin);
  color: #ECE3CE;
}

.App-link {
  color: #61dafb;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {

  animation: spinner  ease 1.5s infinite;
}

.MuiInput-root {
  border-bottom: 1px solid #ECE3CE !important;
}


