
@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  text-align: center;
  font-family: 'Roboto', serif;
}

#container {
  height: 100vh;
  width: 100vh;
}

#tournament {
  margin: 0;
  padding: 0;
  font-size: 2vh;
  height: inherit;
  width: inherit;
}

.ul-left {
  list-style-type: none;
}


.form {
  margin: 10vh;
}
.form-element {
  margin: 2vh;
}

.direction {
  position: absolute;
  bottom: 10vh;
  left: 1vh;
  font-size: 13px;
}

#header-logo {
  height: 8vmin;
  padding: 10px;
  float : left;
}

#footer-socials {
  align : center;
  height: 2vmin;
  /*padding: 4vmin;*/
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
  }
}

#nav {
  list-style-type: none;
  display: flex; /* Use flexbox to make the list horizontal */
  align-items: center; /* Vertically align items in the center */
  
  
}

#header {
  background-color: #739072;
  text-decoration-color: #61dafb;
  height: 10vh;
  margin: 0;
  color: #ECE3CE;
  display: flex;
  align-items: center; /* Vertically align items in the center */
  justify-content: space-between; /* Add space between the logo and the nav */
  padding: 0 2vh; /* Add padding to the sides for spacing */
  box-sizing: border-box; /* Include padding in the total width */
}

#content {
  background-color: #ECE3CE;
  text-decoration-color: #4F6F52;
  list-style-type: none;
  margin: 0;

  height: 80vh;
  color: #4F6F52;
  
  
}



.text-link {
  color: inherit;
  text-decoration: none;
}

ul#nav li {
  display: inline-block; /* Display list items as inline elements */
  margin-right: 3vh; /* Adjust the right margin as needed for spacing between items */
  font-size: 2vh;
}
.App-content {
  background-color: #00ADB5;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #4F6F52;
}

.App-footer {
  background-color: #3A4D39;
  height: 10vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;
  justify-content: center;
  */
  font-size: calc(10px + vmin);
  color: #ECE3CE;
}

.App-link {
  color: #61dafb;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {

  animation: spinner  ease 0.75s infinite;
}

.MuiInput-root {
  border-bottom: 1px solid #ECE3CE !important;
}

@keyframes slideInTitle {
  from {
    opacity: 0;
    transform: translateX(-20vh);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes slideInContent {
  from {
    opacity: 0;
    transform: translateX(-20vh);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.Page-transition-title {
  animation: slideInTitle 1.5s ease-out; /* Adjust the duration and timing function as needed */
}

.Page-transition-content {
  animation-name: slideInContent;
  animation-duration: 1.5s; /* Adjust the duration and timing function as needed */
  animation-timing-function: ease-out;
  animation-delay: .25s; /* Adjust the delay to start after the title animation */
  animation-fill-mode: both; /* Ensure styles are applied before and after animation */
}


#news {
  margin-top: 5vmin;
}



.news-title {
  font-size: 2vmin;
  margin-bottom: 1vmin;
}

.news-content {
  font-size: 2.5vmin;
}

.center-news {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(40% - 2vmin);
  margin-right: auto;
  margin-left: auto;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.news-item {
  width: calc(60% - 2vmin); /* Adjust the width as needed */
  margin-bottom: 2vmin;
  padding: 2vmin;
  border: 1px solid #4F6F52;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Additional style for the first news item */
.news-item:first-child {
  margin-right: 2vmin; /* Add right margin to separate the first item */
}

/* Additional style for the news items after the first one */
.news-item:not(:first-child) {
  margin-left: 2vmin; /* Add left margin to separate subsequent items */
}

/* Media query for smaller screens, adjust the number of items per row */
@media screen and (max-width: 768px) {
  .news-item {
    width: calc(50% - 2vmin); /* Adjust for 2 items per row on smaller screens */
  }
}